html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

/* Header h1 setup */
h1 {
  font-size: 3.125rem;
  font-weight: normal;
}

/* span setup */
span {
  font-size: 1rem;
  color: aquamarine;
}

video {
  margin-top: 3rem;
}

/* h1 travel guid */
.h2-travel {
  font-size: 2.625rem;
  font-weight: 300;
}

/* paragraph setup */
p,
.footer-span {
  color: gray;
  font-size: 1.3125rem;
}

/* img setup */
img {
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #camp {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 33.75rem) {
  #camp {
    max-width: 18.75rem;
  }
}

/* Footer span */
footer {
  text-align: right;
  margin-top: 3rem;
}
